{% extends "base.html" %}
{% load static %}
{% block title %} Register{% endblock %}
{% block head %} {% include 'include/auth_head.html' %} {% endblock %}
{% block body %}
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <h2>
                <div class="d-flex justify-content-center py-4">
                  <a href="{% url 'users:index' %}" class="logo d-flex align-items-center w-auto">
                    <img src="{% static 'images/favicon.png' %}" alt="" width=30> &nbsp;
                    <span class="d-none d-lg-block"> AOHI</span>
                  </a>
                </div><!-- End Logo -->
              </h2>
              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account to Donate</h5>
                    <p class="text-center small">Fill in your personal details </p>
                  </div>
                  {% include "include/messages.html" %}
                  {% include "include/signup_form.html" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  {% include "include/auth_script.html" %}
  {% include "include/toggle.html" %}
{% endblock body %}