{% extends "base.html" %}
{% load static %}
{% block title %} About{% endblock %}
{% block head %}
	{% include 'include/head.html' %}
{% endblock %}
{% block body %}
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		{% include "include/nav.html" %}

		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url('static/images/cover_bg_2.jpg')">
				<div class="desc animate-box">
					<h2>We Are <strong>Non-profit</strong></h2>
					<br>
					<span><a class="btn btn-primary btn-lg" href="{% url 'users:donate' %}">Donate Now</a></span>
				</div>
			</div>

		</div>

		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>How we started.</h3>
						<p>Since our founding over 5 years ago, we have helped supported over 200 different orphans.</p>
					</div>
				</div>

				<div class="row row-bottom-padded-md">
					<div class="col-md-6 text-center animate-box">
						<p><img src="{% static 'images/cover_bg_2.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="{% static 'images/cover_bg_3.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Love</h3>
							<p>A loving home for children in need is what we provide</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Compassion</h3>
							<p>From a loving heart to the aid in the need of the children.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Charity</h3>
							<p>With your help, AOHI, can give orphans what we’d want for ourselves and our loved ones. </p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-content-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Leadership</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-team text-center animate-box">
							<figure>
								<img src="{% static 'images/person_1.jpg' %}" alt="user">
							</figure>

							<div>
								<h3>Jean Doe</h3>
								<p><span>Founder</span></p>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>

							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center animate-box">
							<figure>
								<img src="{% static 'images/person_2.jpg' %}" alt="user">
							</figure>
							<div>
								<h3>John Doe</h3>
								<p><span>Founder</span></p>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center animate-box">
							<figure>
								<img src="{% static 'images/person_3.jpg' %}" alt="user">
							</figure>
							<div>
								<h3>John Doe</h3>
								<p><span>Founder</span></p>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include "include/footer.html" %}
	</div>
</div>
{% include 'include/script.html' %} {% endblock %}
