{% extends "base.html" %}
{% load static %}
{% block title %} Home{% endblock %}
{% block head %}
	{% include 'include/head.html' %}
{% endblock %}
{% block body %}
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		{% include "include/nav.html" %}
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url('static/images/cover_bg_1.jpeg')">
				<div class="desc animate-box">
					<h2>
						<strong>Donate</strong> for the <strong>Poor Children</strong>
					</h2>
					<br>
					<span><a class="btn btn-primary btn-lg" href="#">Donate Now</a></span>
				</div>
			</div>
		</div>
		<!-- end:header-top -->
		<div id="fh5co-features">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-profile-male"></i>
							</span>
							<div class="feature-copy">
								<h3>Become a volunteer</h3>
								<p>
									If you’re interested in joining our cause, simply contact us and communicate the days and times when you are available. You may also include any additional personal information you like to share..
								</p>
								<p><a href="{% url 'auth:register' %}">Get Started</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-happy"></i>
							</span>
							<div class="feature-copy">
								<h3>Happy Giving</h3>
								<p>
									Children face a variety of economic, mental, emotional, and physical challenges as they grow. Proper support helps children navigate through those struggles on their journey to adulthood.
								</p>
								<p><a href="{% url 'auth:register' %}">Get Started</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
							<div class="feature-copy">
								<h3>Donation</h3>
								<p>
									Our generous donors make the life-changing support we have offered for over 20 years possible. During that time, we have supported 30 orphanages around the world..
								</p>
								<p><a href="{% url 'auth:register' %}">Get Started</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-portfolio">
			<div class="container">
				<div class="row">
					<div
						class="col-md-6 col-md-offset-3 text-center heading-section animate-box"
					>
						<h3>Our Gallery</h3>
						<p>
							By supporting an orphan you are supporting an entire community..
						</p>
					</div>
				</div>

				<div class="row row-bottom-padded-md">
					<div class="col-md-12">
						<ul id="fh5co-portfolio-list">
							<li class="two-third animate-box" data-animate-effect="fadeIn"
								style="background-image: url('static/images/cover_bg_1.jpeg')">
								<a class="color-3">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is Loving</h2>
									</div>
								</a>
							</li>

							<li
								class="one-third animate-box"
								data-animate-effect="fadeIn"
								style="
									background-image: url('static/images/cover_bg_3.jpg');
								"
							>
								<a class="color-4">
									<div class="case-studies-summary">
										<span>Show Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>

							<li
								class="one-third animate-box"
								data-animate-effect="fadeIn"
								style="
									background-image: url('static/images/cover_bg_1.jpeg');
								"
							>
								<a class="color-5">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is Kindness</h2>
									</div>
								</a>
							</li>
							<li
								class="two-third animate-box"
								data-animate-effect="fadeIn"
								style="
									background-image: url('static/images/cover_bg_3.jpg');
								"
							>
								<a class="color-6">
									<div class="case-studies-summary">
										<span>Show Love</span>
										<h2>Donation is Selfless</h2>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center animate-box">
						<a href="{% url 'auth:register' %}" class="btn btn-primary btn-lg">Get Started</a>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-services-section">
			<div class="container">
				<div class="row">
					<div
						class="col-md-8 col-md-offset-2 text-center heading-section animate-box"
					>
						<h3>Our Projects. Support Us</h3>
						<p>
							Now, more than ever, we need your support to help the vulnerable orphans at the Adonai Orphanage home institute.
						</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row text-center">
					<div class="col-md-4 col-sm-4">
						<div class="services animate-box">
							<span><i class="icon-heart"></i></span>
							<h3>Education For Every Child</h3>
							<p>
								We do not joke with Education, all the Children raised in Edo Orphanage Home are given quality Education without compromise.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="services animate-box">
							<span><i class="icon-heart"></i></span>
							<h3>Medical Facilities</h3>
							<p>
								We give more attention to the Health of Children in Edo Orphanage with a state of art health facilities and hospital.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="services animate-box">
							<span><i class="icon-heart"></i></span>
							<h3>Water Project</h3>
							<p>
								This is an effort to provide clean drinking water to children in India and Africa. Play your part by donating today.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END What we do -->
		{% include "include/footer.html" %}
	</div>
</div>
{% include 'include/script.html' %}

{% endblock %}