<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left fh5co-link">
                <a href="#">FAQ</a>
                <a href="#">Forum</a>
                <a href="#">Contact</a>
            </div>
            <div class="col-md-6 col-sm-6 text-right fh5co-social">
                <a href="#" class="grow"><i class="icon-facebook2"></i></a>
                <a href="#" class="grow"><i class="icon-twitter2"></i></a>
                <a href="#" class="grow"><i class="icon-instagram2"></i></a>
            </div>
        </div>
    </div>
</div>
<header id="fh5co-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"
                ><i></i
            ></a>
            <h1 id="fh5co-logo"><a href="{% url 'users:index' %}">Adonai Orphanage</a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li class="active">
                        <a href="{% url 'users:index' %}">Home</a>
                    </li>
                    <li><a href="{% url 'users:about' %}">About</a></li>
                    <li><a href="{% url 'users:contact' %}">Contact</a></li>
                    <li><a href="{% url 'users:donate' %}">Donate</a></li>
                    <li><a href="{% url 'auth:login' %}">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>