<form class="row g-3 needs-validation" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="col-md-6 col-sm-12">
      <label for="firstname" class="form-label">Firstname</label>
      {{ form.firstname }}
      {% if form.firstname.errors %}
        <div class="alert alert-danger mt-2" role="alert">
          {{ form.firstname.errors }}
        </div>
      {% endif %}
      <div class="invalid-feedback">Please, enter your Firstname!</div>
    </div>

    <div class="col-md-6 col-sm-12">
      <label for="lastname" class="form-label">Lastname</label>
      {{ form.lastname }}
      {% if form.lastname.errors %}
        <div class="alert alert-danger mt-2 " role="alert">
          {{ form.lastname.errors }}
        </div>
      {% endif %}
      <div class="invalid-feedback">Please enter your Lastname</div>
    </div>

    <div class="col-md-6 col-sm-12">
      <label for="Phone" class="form-label">Phone Number</label>
      {{ form.phone }}
      <div class="invalid-feedback">Please enter your Phone Number</div>
      {% if form.phone.errors %}
        <div class="alert alert-danger mt-2 " role="alert">
          {{ form.phone.errors }}
        </div>
      {% endif %}
    </div>

    <div class="col-md-6 col-sm-12">
      <label for="yourEmail" class="form-label">Email</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        {{ form.email }}
        <div class="invalid-feedback">Please enter a valid email.</div>
      </div>
      {% if form.email.errors %}
          <div class="alert alert-danger mt-2" role="alert">
            {{ form.email.errors }}
          </div>
        {% endif %}
    </div>

    <div class="col-md-6 col-sm-12">
      <label for="picture" class="form-label">Picture</label>
      {{ form.picture }}
      {% if form.picture.errors %}
        <div class="alert alert-danger mt-2 " role="alert">
          {{ form.picture.errors }}
        </div>
      {% endif %}
      <div class="invalid-feedback">Please select your Picture</div>
    </div>

    <div class="col-md-6 col-sm-12">
      <label for="yourPassword" class="form-label">Password</label>
      <div class="input-group has-validation">
        {{ form.password }}
        <span class="input-group-text " id="inputGroupPrepend">
          <span class="fa fa-eye-slash" id="tooglePassword" style="cursor: pointer;"></span>
        </span>
        {% if form.password.errors %}
          <div class="alert alert-danger mt-2" role="alert">
            {{ form.password.errors }}
          </div>
        {% endif %}
        <div class="invalid-feedback">Please enter your password!.</div>
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Create Account</button>
    </div>
  </form>